
$device-width: 90vw;

.clock {
    /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
    padding-top: 20px;
    color: white;
}

.timer-group {
    height: $device-width;
    margin: 0 auto;
    position: relative;
    width: $device-width;
}

.timer {
    border-radius: 50%;
    height: $device-width / 4;
    overflow: hidden;
    position: absolute;
    width: $device-width / 4;
}

.timer:after {
    background: #111;
    border-radius: 50%;
    content: "";
    display: block;
    height: $device-width / 5;
    left: $device-width / 40;
    position: absolute;
    width: $device-width / 5;
    top: $device-width / 40;
}

.timer .hand {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.timer .hand span {
    border: ($device-width / 8) solid rgba(0, 255, 255, .4);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(225deg);
    width: 0;
}

.timer .hand:first-child {
    transform: rotate(180deg);
}

.timer .hand span {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.timer .hand:first-child span {
    animation-name: spin1;
}

.timer .hand:last-child span {
    animation-name: spin2;
}

.timer.hour {
    background: rgba(0, 0, 0, .3);
    height: $device-width;
    left: 0;
    width: $device-width;
    top: 0;
}

.timer.hour .hand span {
    animation-duration: 3600s;
    border-top-color: rgba(255, 0, 255, .4);
    border-right-color: rgba(255, 0, 255, .4);
    border-width: $device-width /2;
}

.timer.hour:after {
    height: $device-width / 1.111;
    left: $device-width / 20;
    width: $device-width / 1.111;
    top: $device-width / 20;
}

.timer.minute {
    background: rgba(0, 0, 0, .2);
    height: $device-width /1.143;
    left: $device-width / 16;
    width: $device-width / 1.143;
    top: $device-width / 16;
}

.timer.minute .hand span {
    animation-duration: 60s;
    border-top-color: rgba(0, 255, 255, .4);
    border-right-color: rgba(0, 255, 255, .4);
    border-width: $device-width / 2.28;
}

.timer.minute:after {
    height: $device-width / 1.29;
    left: $device-width / 20;
    width: $device-width / 1.29;
    top: $device-width / 20;
}

.timer.second {
    background: rgba(0, 0, 0, .2);
    height: $device-width / 1.333;
    left: $device-width / 8;
    width: $device-width / 1.333;
    top: $device-width / 8;
}

.timer.second .hand span {
    animation-duration: 1s;
    border-top-color: rgba(255, 255, 255, .15);
    border-right-color: rgba(255, 255, 255, .15);
    border-width: $device-width / 2.666;
}

.timer.second:after {
    height: $device-width / 1.334;
    left:$device-width / 200;
    width: $device-width / 1.334;
    top: $device-width / 200;
}

.face {
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: $device-width / 1.334;
    left: $device-width / 8;
    padding: $device-width/4.5 0;
    position: absolute;
    width: $device-width / 1.334;
    text-align: center;
    top: $device-width / 8;
}

.face h2 {
    font-weight: 300;
  font-size: $device-width / 20;
}

.face span {
    border-radius: 20px;
    font-size: $device-width / 5.1;
    font-weight: 400;
}

@keyframes spin1 {
    0% {
        transform: rotate(225deg);
    }
    50% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(225deg);
    }
    50% {
        transform: rotate(405deg);
    }
    100% {
        transform: rotate(405deg);
    }
}