
$device-width: 100vw;
$device-height: 177vw;
$tile-size: $device-width / 7;

$duration: 0.6s;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);

$type-small: $tile-size / 4;
$type-normal: $tile-size / 3;
$type-large: $tile-size / 2.5;

$colors: (
        #fbec6b,
        #f4bc6b,
        #eb8b6b,
        #e0536b,
        #d6306d,
        #a32c68,
        #722a65,
        #422662,
        #12255d,
        #275b75,
        #3c918b,
        #52c6a2,
        #66f8b6,
        lighten(#66f8b6, 10%)
);

@function list-slice($list, $from, $to: length($list)) {
  $result: ();

  @for $i from $from through $to {
    $result: append($result, nth($list, $i));
  }

  @return $result;
}

@function shadows($from: 1, $app: false) {
  $shadows: ();
  $i: 0;

  @if ($app) {
    @each $color in list-slice($colors, $from, length($colors) - 1) {
      $i: $i + 1;
      $shadows: append($shadows, $color, comma);
    }

    @return $shadows;
  }

  @each $color in list-slice($colors, $from, length($colors) - 1) {
    $i: $i + 1;
    $subshadows: ();
    $darkest-color: nth(list-slice($colors, $from), $i + 1);

    @for $j from 1 through 7 {
      $subshadows: append(
                      $subshadows,
                      ($j - 1) *
          $tile-size
                      $i *
          $tile-size
                      mix($darkest-color, $color, percentage($j / 7)),
                      comma
      );
    }

    $shadows: append($shadows, $subshadows, comma);
  }

  @return $shadows;
}

%transition {
  transition: all $duration $easing;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.story {
  height: 100vh;

  [id="index"]:target ~ .cal-device {
    .cal-scene.-calendar {
      > .cal-month,
      > .cal-header {
        animation: fade-in $duration $duration * 0.5 $easing both;
      }
    }
  }


  [id="schedule"]:target~ .cal-device {
    .cal-bar .-schedule {
      opacity: 1;
    }

    .cal-bar .-calendar {
      opacity: 0;
    }

    .cal-scene.-schedule {
      opacity: 1;
      z-index: 2;
    }

    %schedule-text {
      transform: translateX(0);
    }

    @for $i from 1 through 7 {
      .cal-item:nth-child(#{$i}) %schedule-text {
        transition-delay: 0.06s * ($i - 1);
      }
    }

    .cal-scene.-calendar {
      &,
      * {
        transition-delay: $duration;
      }
    }
  }

  .cal-device {
    width: $device-width;
    height: 100%;
    background: white;

    > .cal-header {
      height: $tile-size * 1.5;
      background: #1c3e69;
    }

  }

  .cal-app {
    height: 100%;
    width: 100%;
    background: linear-gradient(shadows(1, true));
  }

  .cal-week {
    height: $tile-size;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .cal-weekday {
    color: white;
    width: $tile-size;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: $type-normal;
  }

  .fa {
    font-size: $type-normal;
  }

  .cal-scene {
    @extend %transition;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    padding-bottom: 25%;

    &.-calendar {
      &:before {
        content: "";
        display: block;
        height: $tile-size;
        width: $tile-size;
        position: absolute;
        top: -$tile-size;
        left: 0;
        box-shadow: shadows();
        transition: box-shadow $duration $easing;
      }
    }

  }





  .cal-subheader {
    height: $tile-size / 2;
    width: 100%;
  }

  .cal-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .cal-title {
      flex-grow: 1;
      height: 100%;
    }

    .-schedule {
      opacity: 0;
    }
  }

  .cal-bar .fa-chevron-left {
    opacity: 1;
  }
  .fa-chevron-left:before {
    content: "<<";
  }

  .cal-item {
    width: 100%;
    display: flex;
    flex-direction: row;

    &.-long {
      height: $tile-size * 2;
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        > .cal-time {
          background-color: mix(#bd1f50, #fa739d, percentage(($i - 1) / 8));
        }

        > .cal-task {
          background-color: mix(#e8b1c2, white, percentage(($i - 1) / 8));
        }
      }
    }
  }

  .cal-time {
    width: 2 * $tile-size;
    flex-basis: 2 * $tile-size;
    justify-content: center;
    line-height: $tile-size;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;

    > * {
      @extend %schedule-text;
      transition: all $duration $easing;
      font-weight: 600;
      font-size: $type-normal;
    }
  }

  .cal-task {
    flex-basis: 5 * $tile-size;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3vw $type-normal;
    font-size: $type-small;

    > p {
      margin-top: 0;
      margin-bottom: 0;
      color: #12255e;
    }

    > a {
      text-decoration: none;
      color: #ea80a2;
      font-weight: 600;

      > .fa {
        margin-right: $type-small / 2;
      }
    }

    > * {
      @extend %schedule-text;
      transition: all $duration $easing;
    }
  }

  .meta {
    flex-basis: calc(80% - #{$device-width});
    font-size: $type-normal;
    font-weight: 300;

    p,
    a {
      color: rgba(white, 0.7);
    }
    h1 {
      font-size: $type-large * 3;
      line-height: $type-large * 3;
      font-weight: 300;
      color: white;
    }
    p {
      line-height: 1.4;
    }

    a:hover {
      color: rgba(white, 0.7);
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  body {
    background: #4acdde;
    background: linear-gradient(135deg, #4effdf, #48bbde, #f47ec6);
    font-family: Source Sans Pro, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    @media (max-width: 750px) {
      justify-content: center;
    }
  }



  %cf:before,
  %cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  %cf:after {
    clear: both;
  }


}

